

/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}


/* Extra CSS */
.left-column {
  float: left;
  width: 30%;;
}
.right-column {
  float: right;
  width: 65%;;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 75%;
}
.orange {
  color: #FF4500;
}
.purple {
  color: #4B0082;
}
.grey {
  color: #C0C0C0;
}
.black {
  color: #000000;
}
.red {
  color: #DB4437;
}
.blue {
  color: #4285F4;
}
.whitesmoke {
  color: #DCDCDC;
}
